body {
    background-color: #184D59;
    color: #B4D9CE;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: #308C83;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 800px;
}

h1, h2 {
    color: #659FA6;
}

p, ul {
    text-align: left;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #B4D9CE;
}

input[type="text"], select {
    width: 80%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #155952;
    color: #B4D9CE;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #155952;
    color: #B4D9CE;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #47CCB3;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #155952;
    color: #B4D9CE;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    background-color: #47CCB3;
}

.logo {
    margin-bottom: 20px;
}
